<%- include('partials/header') %>
    <%- include('partials/navbar') %>


        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/public/img/pro1.jpg" alt="">
                </div>
                <div class="carousel-item">
                    <img src="/public/img/pro2.jpg" alt="">
                </div>
                <div class="carousel-item">
                    <img src="/public/img/pro3.jpg" alt="">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <%- include('partials/footer') %>