body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #6e7a49;
}


header {
    background-color: #566233;
    padding: 20px;
    text-align: center;
}


header h1 {
    margin: 0;
    font-size: 24px;
}


header p {
    font-size: 18px;
    color: #ffffff;
}


img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
}


section {
    padding: 20px;
    background-color: #f9f9f9;
}


h2 {
    margin-top: 0;
}


#portfolio {
    margin-bottom: 10%;
}


.paginas {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px;
}


.div-paginas1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
}
.div-paginas2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}
.div-paginas2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}
